@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5731d7;
  --secondary: #2c2542;
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
}
*::-webkit-scrollbar-track {
  margin: 20px;
}
